html,
.map-canvas {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: url("images/bg3.jpg") no-repeat center top;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

#header, #left, #center, #right, #footer {
	position: relative;
	z-index: 10;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#center {
	display: block;
	border: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #DDD;
}

#footer {
	position: absolute;
}

.btn {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header {
	padding: 0px 12px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	margin: 0px;
}

.no-radius {
	border-radius: 0px;
}

.result .content,
.slide .menu > div {
	max-width: 615px;
	margin: 0 auto;
}

.row-fluid {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.texture-01 {
	background-image: url(images/pw_maze_white.png);
}

/* Result */
.result {
	padding: 12px 0px;
}

.result .content {
	padding: 5px;
}

.result .content h1 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 0px;
	line-height: normal;
}

.result .content .image {
	height: 75px;
}

.result.row-fluid > [class*="span"] {
	float: none;
	display: block;
	margin: 0 auto;
	padding: 10px;
}

.row-fluid .result > [class*="span"] [class*="span"] {
	margin-bottom: 0px;
}

.result .content .details {
	display: none;
}

.result .content .details h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 10px 0px 0px;
	line-height: normal;
}

/* Search */
.search-distance {
	max-width: 600px;
	margin: 0px auto;
	text-align: center;
	margin-top: 10px;
}

.search-distance .slider {
	width: 95%;
	margin: 0 auto;
}

.search-distance label {
	color: #FFF;
	background: rgba(0, 0, 0, .8);
	padding: 5px;
	margin-bottom: 10px;
}

.search-distance .ui-widget-content {
	border: none;
	background: rgba(0, 0, 0, .2);
}

.search-distance .ui-state-default {
	background: rgba(0, 0, 0, 1);
	color: #ffffff;
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.search-form {
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	z-index: 10;
}

.row-fluid .search-form > [class*="span"] {
	float: none;
	display: block;
	margin: 0 auto;
	border: 1px solid #CCC;
	padding: 5px;
	background: #FFF;
	position: relative;
}

.search-form .search-icon {
	position: absolute;
	top: 11px;
	left: 20px;
}

.search-form input[type="text"] {
	border: 0px solid #DDD;
	color: #000;
	font-size: 20px;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0px;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
	padding-left: 40px;
	background: #FFF;
	display: inline-block;
}

.search-form input[type="text"]:focus {
	background: #EEE;
	border-color: #CCC;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}

.row-fluid .search-form > [class*="span"] .command {
	position: absolute;
	top: 5px;
	right: 5px;
	padding-left: 5px;
	background: #FFF;
}

.search-form a {
	text-align: center;
}

.search-form .item label {
	margin-bottom: 10px;
}

.search-form .item label .value {
	font-weight: bold;
}

.search-form .item .slider {
	width: 50%;
	margin: 0px auto;
}

.map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.slide {
	margin-bottom: 7px;
	z-index: 20;
	position: relative;
}

.slide .menu .command {
	background-image: none;
	background-color: rgba(0, 0, 0, .8);
	border: 0px;
	padding: 5px 0px 2px;
	margin: 0 auto;
	display: block;
	max-width: 50px;
}

.slide .menu .content {
	display: none;
	background-color: #FFF;
	padding: 10px;
	margin-top: 7px;
}

.slide .menu > [class*="span"] {
	float: none;
	margin: 0 auto;
	min-height: 0px;
}

.slide .menu .spacer {
	height: 7px;
	margin: 0px -7px -7px;
}

.shadow {
	-webkit-box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, .8);
	box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, .8);
}

/* Responsive */
@media (max-width: 767px)  {
	.header {
		padding: 0px 12px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.header {
		padding: 0px 12px;
	}
}

@media (min-width: 1200px) {
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 100%;
	}
}
