html,
.map-canvas,
.row-fluid {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("images/bg3.jpg");
}

#header, #left, #center, #right, #footer {
	position: relative;
	z-index: 10;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#center {
	display: block;
	border: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #DDD;
}

#footer {
	position: absolute;
}

/*Form*/
.search-form, .test {
	background-color: #FFF;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 600px;
	margin: 0px auto;
	text-align: center;
}

.search-form input[type="text"] {
	border: 1px solid #DDD;
	background: none;
	color: #000;
	font-size: 30px;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0px;
	text-align: center;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.search-form input[type="text"]:focus {
	background: #FFF;
	border-color: #CCC;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}

.search-form a {
	text-align: center;
}

.search-form .command,
.search-form .item {
	margin-top: 20px;
}

.search-form .item label {
	margin-bottom: 10px;
}

.search-form .item label .value {
	font-weight: bold;
}

.search-form .item .slider {
	width: 50%;
	margin: 0px auto;
}

.map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.menu {
	display: none;
	background-color: rgba(0, 0, 0, .8);
	margin-bottom: 5px;
	color: #FFF;
	padding: 15px 15px 10px;
}

.options .command {
	margin: 0px auto;
	width: 70px;
	display: block;
}

.row-fluid {
	z-index: 10;
	position: relative;
}

.shadow {
	-webkit-box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, .6);
	box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, .6);
}
