html,
.map-canvas,
.row-fluid {
	height: 100%;
}

form,
.options,
.content {
	position: relative;
	z-index: 10;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url("images/bg3.jpg");
}

.content {
	position: absolute;
	border: 0px;
	text-align: center;
	padding: 8px;
	background-color: rgba(0, 0, 0, .4);
	min-width: 300px;
	max-width: 600px;
}

.content .inner {
	background-color: #FFF;
	padding: 20px;
}

.content input[type="text"] {
	border: 1px solid #DDD;
	background: none;
	color: #000;
	font-size: 30px;
	height: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0px;
	text-align: center;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
	width: 100%;
	box-sizing: border-box;
}

.content input[type="text"]:focus {
	background: #FFF;
	border-color: #CCC;
	-moz-transition: .25s;
	-o-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}

.content a {
	text-align: center;
}

.content .command,
.content .item {
	margin-top: 20px;
}

.footer {}

.item label {
	margin-bottom: 10px;
}

.item label .value {
	font-weight: bold;
}

.content .item .slider {
	width: 50%;
	margin: 0px auto;
}

.map-canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.menu {
	display: none;
	background-color: rgba(0, 0, 0, .8);
	margin-bottom: 5px;
	color: #FFF;
	padding: 15px 15px 10px;
}

.options .command {
	margin: 0px auto;
	width: 70px;
	display: block;
}

.row-fluid {
	z-index: 10;
	position: relative;
}

.shadow {
	padding: 8px;
	background: rgba(0, 0, 0, .7)
}
